<div id="<%= dom_id artwork %>">
  <h2>
    <%= artwork.title %>
  </h2>

  <p>
    <strong>Description:</strong>
    <%= artwork.description %>
  </p>

    <%= image_tag artwork.image, class: "img-fluid" %>


</div>
