<div class="text-center">
<h1>Artworks</h1>

<div class="text-center">
		  <h1 class="mb-3">My Paintings</h1>
		  <p>Some of these paintings are available for purchase via <a target="_blank" href="https://society6.com/andydamandy">Society Six</a></p>
			<p>I'm also on instagram <a target="_blank" href="https://www.instagram.com/andresmaldonadoart/">@andresmaldonadoart</a></p>
    </div>

<% if user_signed_in? && current_user.role == 'admin' %>
  <%= link_to "New artwork", new_artwork_path %>
<% end %>

<div id="artworks">
  <% @artworks.each do |artwork| %>
  <div class="mb-3 border">
    <%= link_to artwork do %>
      <h2><%= artwork.title %></h2>
      <%= image_tag artwork.image, class: "img-thumbnail", style: "width: 50%;"%>
    <% end %>
    </div>
  <% end %>
</div>
</div>