<% content_for(:title) do %>
  About | Andy's Tech and Art Space
<% end %>
<div class="text-center">
    <h1 class="mb-3">About</h1>
    <div>
      <img src="https://i.imgur.com/T2q3bnc.jpg" class="rounded-circle shadow img-fluid mb-3" width="500" alt="profile-pic">
      <p>Hi, my name is Andrés (most people just call me Andy) and I'm a Brooklyn-based publisher, artist, software engineer, and blogger.</p>
      <p>Professionally, I'm highly experienced in the Scholarly Publishing industry as a publisher and have worked with the scholarly publishing community of editors and authors for 5+ years. I'm happy to talk books (of any kind) and publishing!</p>
      <p>I've been drawing for many years, taking classes at <a href="https://www.artstudentsleague.org/" target="_blank">The Art Student's League of New York</a> since around late 2017 - early 2018. I started painting in 2018-2019, but took a bit of a break due to the pandemic. I'm back to painting now though! I'm a monitor at the League for Brandon Soloff and Richard Piloco's figure drawing class as well.</p>
      <p>I'm a mixed media artist and primarily use oil paint, watercolor, gouache, acrylic, and digital paint (Krita on PC and Procreate on iPad) as my mediums.</p>
      <p>I'm proficient in Japanese, with an approximate N1 level. I read, watch, and play a lot of Japanese media and am happy to talk about my experiences with Japan and Japanese culture.</p>
      <p>My tech stack includes Ruby, Ruby on Rails, HTML/CSS, JavaScript/TypeScript, and a little bit of Rust, Python, and C#. I'm currently learning some game development with Godot.</p>
      <p>If you want to get in touch, feel free to find me on Instagram and send me a DM.</p>
    </div>
</div>