<div class="text-center">
    <h1 class="mb-3">About</h1>
    <div>
    <img src="https://i.imgur.com/T2q3bnc.jpg" class="rounded-circle shadow img-fluid mb-3" width="500">
        <p>
        Hi, my name is Andrés (most people just call me Andy) and I'm a Brooklyn-based software engineer, artist, and designer.
        </p>
        <p>
        My tech stack includes Ruby, Ruby on Rails, HTML/CSS JavaScript, React, with a bit of Kotlin/Android and C#/ASP.NET on the side. I'm proficient with CSS frameworks such as Bootstrap and Tailwind as well.
        </p>
        <p>
        I'm interested in art, coding, language learning, philosophy, technology, coffee, and cooking. My fun fact is that I'm proficient in Japanese. I studied it in college and have been studying ever since. よろしくお願いします！
        </p>
        If you want to get in touch, feel email me at <a href="mailto:maldonado.andy.m@gmail.com">maldonado.andy.m@gmail.com</a>
        </p>

    </div>
    
</div>