<div class="text-center">
    <h1 class="mb-3">About me</h1>
    <div>
    <img src="https://i.imgur.com/jj8CAF2.jpg?4" class="rounded-circle shdadow img-fluid mb-3">
        <p>
        Hi, my name is Andres (most people just call me Andy) and I'm a Brooklyn-based artist, software engineer, and home-chef. I'm mostly self-taught, but I've taken classes at the Art Students League of New York. I'm interested in art, coding, language learning, philosophy, technology, coffee, cooking, and anything fun!

        If you want to get in touch, email me at maldonado.andy.m@gmail.com
        </p>

    </div>
    
</div>