<div class="text-center">
    <h1 class="card-title">Andy's Site and Blog</h1>
    <div class="card-body py-2">
        <p>
            Hi, my name is Andy! Welcome to my site! You can check out the blog or check out some of of my other sites:
        </p>
        <ul class="list-group">
            <li class="list-group-item"><%= link_to "Go to Blog Posts", posts_path%></li>
            <li class="list-group-item"><a href="https://andyhon.app" target="_blank">The Andy Hon - A Social Media site</a></li>
            <li class="list-group-item"><%= link_to "My Paintings", paintings_path%></li>
            <li class="list-group-item"><a href="https://github.com/AndyDaMandy" target="_blank">Github</a></li>
            <li class="list-group-item"><a href="https://instagram.com/andresmaldonadoart" target="_blank">Instagram</a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/andymaldonadom/" target="_blank">LinkedIn</a></li>
            <li class="list-group-item"><a href="https://andydamandy.github.io/Textia" target="_blank">Textia - a Browser Game</a></li>
        </ul>
    </div>
</div>