<div class="text-center">
    <h1 class="card-title">Site and Blog, Links</h1>
    <div class="card-body py-2">
        <p>
            Hi, my name is Andy! Welcome to my site. You can check out the blog or check out some of my projects:
        </p>
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Blog</strong></li>
            <li class="list-group-item"><%= link_to "Recent Posts", posts_path %></li>
        </ul>
        <ul class="list-group mb-4">
            <li class="list-group-item"><strong>Projects</strong></li>
            <li class="list-group-item"><a href="https://andyhon.app" target="_blank">The Andy Hon - A social media site</a></li>
            <li class="list-group-item"><a href="https://serialpublisher.app" target="_blank">Serial Publisher - A serial story publisher</a></li>
            <li class="list-group-item"><a href="https://andydamandy.github.io/Textia" target="_blank">Textia - A browser game</a></li>
        </ul>
      <ul class="list-group">
            <li class="list-group-item"><strong>Social</strong></li>
            <li class="list-group-item"><%= link_to "My Paintings", paintings_path %></li>
            <li class="list-group-item"><a href="https://github.com/AndyDaMandy" target="_blank">GitHub</a></li>
            <li class="list-group-item"><a href="https://andymdeveloper.substack.com/" target="_blank">Substack</a></li>
            <li class="list-group-item"><a href="https://instagram.com/andresmaldonadoart" target="_blank">Instagram</a></li>
            <li class="list-group-item"><a href="https://medium.com/@maldonado.andy.m" target="_blank">Medium</a></li>
            <li class="list-group-item"><a href="https://www.codewars.com/users/AndyDaMandy" target="_blank">Codewars</a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/andres-maldonado-1b1b0a1a0/" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</div>