<div class="container-fluid">
    <div class="text-center">
		  <h1>My Paintings</h1>
		  <p>Warning! Some paintings contain nudity</p>
		  <p>Some of these paintings are available for purchase via <a target="_blank" href="https://society6.com/andydamandy">Society Six</a></p>
    </div>
    <!-- images go below here -->
        <div class="row py-2">
          <div class="col">
			<div class="thumbnail">				
			    <img src="https://i.imgur.com/xxA1Prv.jpg" alt="Woman in Red"  class="img-fluid rounded">
                <div class="caption">
                  <p>Study of a Woman in Red - Digital Painting</p>
                </div>
              </div>
        </div>
			<div class="col">
			    <div class="thumbnail">
			    <img src="https://i.imgur.com/34D4j7Z.jpg" alt="Broken Gaze"  class="img-fluid rounded">
                <div class="caption">
                    <p>Broken Gaze - Digital Painting</p>
                </div>
			    </div>
			</div>
   </div>
        <div class="row py-2">
            <div class="col">
		        <div class="thumbnail">
                    <img src="https://i.imgur.com/EXgVE4o.jpg" alt="=the statue of life"  class="img-fluid rounded">
                    <div class="caption">
                    <p>The statue of Life- Digital Painting</p>
                    </div>
		        </div>
		    </div>
            <div class="col">
	      <div class="thumbnail">
	        <img src="https://i.imgur.com/s8j74HB.jpg" alt="traffic light"  class="img-fluid">
	        <div class="caption">
	          <p>Traffic Light - Digital Painting</p>
	        </div>
	        </div>
	        </div>
        </div>
<!-- end of row -->
		<div class="row py-2">
			
	    <div class="col">
	        <div class="thumbnail">
	        <img src="https://i.imgur.com/C0y8Sn1.png" alt="Self Portrait"  class="img-fluid">
	        <div class="caption">
	          <p>Self Portrait - Digital Painting</p>
	        </div>
	        </div>
	        </div>
			<div class="col">
		<div class="thumbnail">
				<img src="https://i.imgur.com/tlvQrAv.jpg" alt="Study of a woman"  class="img-fluid rounded">
		<div class="caption">
			<p>Study of a woman - Digital Painting</p>
		</div>
		</div>
		</div>

    </div>
    <!-- End of row --->
    		<div class="row">
					<div class="col">
			      <div class="thumbnail">
			        <img src="https://i.imgur.com/cHOapVV.jpg" alt="Witch - Painted on Galaxy Note 8" class="img-fluid rounded">
			        <div class="caption">
			          <p>Witch - Painting on Galaxy Note 8</p>
			        </div>
			    </div>
			    </div>
			  <div class="col">
          <div class="thumbnail">
              <img src="https://i.imgur.com/edGtOuZ.jpg" alt="Verrazano at Twilight"  class="img-fluid">
                <div class="caption">
                  <p>Verrazano at Twilight - Acrylic on Canvas Board</p>
                </div>
            </div>
        </div>
			</div>
    <!-- End of row --->
		<div class="row">
		 <div class="col">
	    <div class="thumbnail">
		  <img src="https://i.imgur.com/c2pb6w3.jpg" alt="Mr. Red Riding Hood"  class="img-fluid rounded">
		    <div class="caption">
			    <p>Mr. Red Riding Hood - Oil on panel</p>
		    </div>
	  </div>
	</div>
  <div class="col">
    <div class="thumbnail">
        <img src="https://i.imgur.com/4KaRLDA.jpg" alt="Memories of Ramen"  class="img-fluid">
          <div class="caption">
            <p>Memories of Ramen - Acrylic on Canvas Board</p>
          </div>
      </div>
  </div>
</div>
	<!-- End of row --->


<!-- Add new images above here -->
  </div>