<div>
  <%= render @post %>
</div>

<div>
<% if user_signed_in? %>
  <%if current_user.role == "admin"%>
  <div>
  <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
  <div>
  <%= link_to "Edit this post", edit_post_path(@post) %>
  </div>
  <% end %>
<% end %>
</div>
<div>
  <%= link_to "Back to posts", posts_path %>
</div>